// RESPONSIVE
$largeDesktop: 2560px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 425px;

// COULEUR //
$black: rgba(0,0,0, 0.7);
$white: #eff0f4;
$grey: #e0e0e041;
$green: #469388;
$red: #df5a4b;


//Bouttons/

$button-bg: #23b6a8;
$button-cancel-bg: #df5a4b;